{% extends 'cal/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static './css/signup.css' %}">
{% endblock %}

{% block main %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<div id="signup">
    <form action="{% url 'common:signup' %}" method="POST">
        {% csrf_token %}
        <div id="logo"><img src="{% static 'img/icons8-입안자-24.png' %}"><p>언제 만나</p></div>

    <div id="outer">
        <div class="input-box" style="display:block; float:left;">
            <input name="username" id="username" type="text" placeholder="ID" value="{{form.username.value|default_if_none:''}}">
        </div>

        <div class="input-box">
            <input name="password1" id="password1" type="password" placeholder="PASSWORD" value="{{form.password1.value|default_if_none:''}}" style="margin-right:10px;" >
            <input name="password2" id="password2" type="password" placeholder="CONFIRM PASSWORD" value="{{form.password2.value|default_if_none:''}}">
        </div>

        <div class="input-box">
            <input name="email" id="email" type="email" placeholder="ADDRESS" value="{{form.email.value|default_if_none:''}}" style="margin-right:10px;" >
            <input name="tel" id="tel"  type="tel" placeholder="PHONE NUMBER" value="{{form.tel.value|default_if_none:''}}">
        </div>
    </div>


        <button type="submit">JOIN</button>
    </form>
</div>




{% endblock %}