{% extends 'cal/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block main %}
<!-- <div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
</div> -->

<div class="calender_box">
    <div class="calender">
        <div class="header">
            <div class="year-month"></div>
            <div class="schedule-add">
                <button class="schedule-btn">일정 추가</button>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="day">SUN</div>
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>
    <script src="{% static 'scripts/calender.js' %}"></script>
</div>

<div class="day-add">
    <button class="day-btn"><img src="{% static 'img/icons8-추가-48.png' %}" width="30px"><span>내가 운동할 수 있는 날 추가하기</span></button>
</div>

<div class="list-area">
    <p><img src="{% static 'img/icons8-달리는-24.png' %}" width="30px">선호 운동 리스트</p>
    <div class="list-box"></div>
</div>

<div class="list-area">
    <p><img src="{% static 'img/icons8-group-32.png' %}" width="30px">참여자 리스트</p>
    <div class="list-box"></div>
    <button class="part-btn" id="invitation-btn">초대하기</button>
    <button class="part-btn" id="kick-btn">강퇴하기</button>
</div>

<div class="list-area">
    <p><img src="{% static 'img/icons8-chat-room-24.png' %}" width="30px">추천</p>
    <div class="list-box"></div>
</div>

{{ calendar }}
{% endblock %}